<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-lg-2">
          <h4>{{vm.title}}</h4>
        </div>
        <div class="col-xs-4 col-sm-4 col-lg-5">
          <h4>{{vm.tuningName}}</h4>
        </div>
        <!--<div class="col-xs-4 col-sm-4 col-lg-5" ng-show="vm.structureGroup == 1 || vm.structureGroup == 2">
          <select id="chordTypecbo" class="form-control pull-right" ng-options="i.Name for i in vm.structureTypes | filter: {GroupId: vm.structureGroup}" ng-model="vm.selectedStructureType" ng-change="vm.onStructureTypeChanged()"></select>
        </div>-->
      </div>
    </div>
    <!--<div class="panel-body">
      <div id="d3Test">
        <svg id="main" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 394">
          <defs id="definitions">
            <style>
              .cls-1 {
                fill: url(#linear-gradient);
              }

              .cls-2 {
                fill: url(#linear-gradient-2);
              }

              .cls-3 {
                fill: none;
                stroke: #231f20;
              }

              .cls-3, .cls-4 {
                stroke-miterlimit: 10;
              }

              .cls-4 {
                fill: #fff;
                stroke: #939598;
              }

              .cls-6 {
                fill: #82694e;
                stroke: #82694e;
              }

              .cls-5 {
                fill: #fff;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: medium;
              }

              .cls-default-options {
                fill: #428bca;
                stroke: #357ebd;
              }

              .cls-pressed-options {
                fill: #1A3F5F;
                stroke: #357ebd;
              }
            </style>
            <pattern id="TrianglePattern" patternUnits="userSpaceOnUse"
                     x="0" y="0" width="100" height="100"
                     viewBox="0 0 10 10">
              <path d="M 0 0 L 7 0 L 3.5 7 z" fill="red" stroke="blue" />
            </pattern>
            <linearGradient id="linear-gradient" y1="50%" x2="100%" y2="50%" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#545954" /><stop offset="0.03" stop-color="#525752" /><stop offset="0.34" stop-color="#3f4440" /><stop offset="0.66" stop-color="#343935" /><stop offset="1" stop-color="#303531" /></linearGradient>
            <linearGradient id="linear-gradient-2" x1="0%" y1="50%" x2="100%" y2="50%" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#231f20" /><stop offset="0.49" stop-color="#d3d5d6" /><stop offset="1" stop-color="#231f20" /></linearGradient>
            <g id="fretTemplate">
              <rect class="cls-1" width="200" height="100" />
              <rect class="cls-2" x="185" width="15" height="100" />
              <line class="cls-3" y1="50" x2="200" y2="50" />
              <circle class="cls-4" cx="100" cy="50" r="40" />
            </g>

          </defs>
        </svg>
      </div>
    </div>
    <div class="panel-footer">

    </div>-->
  </div>

</div>
