<div class="row" style="padding:10px 50px;">
  <div class="col-lg-3" *ngFor="let instrument of instruments">
    <div class="row">
      <div class="col-2">
        <img src="./Instruments/{{instrument.imagePath}}" style="width:50px; padding-right:10px;" />
      </div>
      <div class="col-10">
        <div class="row">
          <h4>
            <span><i class="fa fa fa-sliders"></i> <b>{{instrument.name}}</b>&nbsp;({{instrument.description}})</span>
          </h4>
        </div>
        <div class="row">
          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Tunings</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button *ngFor="let tt of tuningTypes  | filter: 'instrumentId': instrument.id" ngbDropdownItem>{{tt.name}}</button>
     
            </div>
          </div>

        </div>
      </div>
    </div>
   
    <div class="btn-group">

    
      <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button + {{instrument.Id}}">
      <li role="menuitem" ng-repeat="tuningType in vm.tuningTypes | filter: {InstrumentId: instrument.Id} ">
        <a ui-sref="InstrumentFretboard({ instrumentId: instrument.Id, tuningTypeId: tuningType.Id})">{{tuningType.Name}}</a>
      </li>
    </ul>-->
    </div>

  </div>
</div>
